.card-group {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 2.0rem;
}

@media (min-width: 865px) {
  .card-group-element {
    width: 33%;
  }
}

@media (max-width: 865px) {
  .card-group-element {
    width: 100%;
  }
}
