@media (min-width: 1024px) {
  .card {
    margin-top: 10.0rem;
    margin-bottom: 10.0rem;
  }
}

@media (max-width: 865px) {
  .card {
    margin-bottom: 2.0rem;
  }
}

.card {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 16rem;
  max-width: 18rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.1); /* #333333 */
  margin-right: auto;
  margin-left: auto;
}

.card-header {
  padding: .75rem 0px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  text-align: center;
  color: #737C84;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(241, 241, 241, 0.5); /* #F1F1F1 */
  margin-left: -.1rem;
  text-align: center;
}

.card-footer > p {
  margin: 0;
}

.card-loader {
  width: 100%;
  height: 9rem;
  padding-top: 25%;
}

.card-error {
  width: 100%;
  height: 9rem;
  padding-top: 25%;
  text-align: center;
  color: #ED1946;
}

.temperature {
  font-size: 5.0rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.humidity-pressure > div {
  width: 50%;
  float: left;
  color: #737C84
}

.humidity-pressure > div > small {
  color: #B4B4B4;
}

.updated-time {
  font-size: 0.6rem;
  vertical-align: bottom;
}

.temperature-blue {
  color: #69A3FF;
}

.temperature-orange {
  color: #FF9632;
}

.temperature-red {
  color: #ED1946;
}
