<div class="card">
  <div class="card-header">{{city.name}}, {{city.country}}</div>
  <div class="card-body" *ngIf="weather.temperature">
    <p class="temperature"
       [ngClass]="{'temperature-blue': weather.temperature < 5,
                   'temperature-orange': weather.temperature > 5 && weather.temperature < 26,
                   'temperature-red': weather.temperature > 25}">
      {{weather.temperature}}<small>°</small>
    </p>
  </div>
  <div class="card-footer" *ngIf="weather.temperature">
    <div class="humidity-pressure">
      <div>
        <small>HUMIDITY</small>
      </div>
      <div>
        <small>PRESSURE</small>
      </div>
      <div id="humidity">
        {{weather.humidity}}%
      </div>
      <div id="pressure">
        {{weather.pressure}}hPa
      </div>
    </div>
    <small id="updatedAt" class="updated-time">Updated at {{weather.updatedAt}}</small>
  </div>
  <div class="card-loader" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="card-error" *ngIf="error">
    <small>Something went wrong</small>
  </div>
</div>
